name: Test Project

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest  # Fixed typo
    container:
      image: node:20
    steps:
      - uses: actions/checkout@v3
      
      # If you want to specify node version, use setup-node
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          
      - run: npm ci
      - run: npm test
      - run: npm run build  # Changed from "npm build" to "npm run build"
