name: Test Project

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ununtu-latest
    container:
      image: node:20
    steps:
      - uses: actions/checkout@v3
      with:
        node-version: 20
      - run: npm ci 
      - run: npm test
      - run: npm build
